{% extends 'base/main.html' %}
{% block content %}
{% load static %}



<section>

    <td>
        <a href="{% url 'task-create' %}">
            <button>
            + Add New Task
            </button></a>
    </td>



<table>
    <tr>
        <th><h2>Items</h2></th>
        
    </tr>
    {% for task in tasks %}
    <tr>
       
        
        <td>
            {% if task.complete %}
            <div class="line-through">
            <a href="{% url 'task' task.id %}">
                
                <button>
                    {{ task.title }}
                </button>
            </a>
            {% else %}
            <a href="{% url 'task' task.id %}">
                <button>
                    {{ task.title }}
                </button>
                </a>
                {% endif %}

        </div></td>
        <td>
            <div>
            <a href="{% url 'task-delete' task.id %}">
            <img 
            alt=""
            src="{% static 'base/public/frame.svg' %}">
            </a>
            </div>
            <div>
                <a href="{% url 'task-update' task.id %}">
                <img 
                alt=""
                src="{% static 'base/public/edit-2-svgrepo-com.svg' %}">
                </a>
            </div>
        </td>
        <td>
            
                <b>{{ task.created }}</b>
            
        </td>
       
    </tr>
    

    {% empty %}
        <h3>No items in list</h3>
    {% endfor %}
</table>




</section>

{% endblock content %}
