{% extends 'base/main.html' %}
{% block content %}
{% load static %}

<h1>Hi {{ request.user }}</h1>

{% if request.user.is_authenticated %}
       <a href="{% url 'logout' %}"><button>
        Logout
      </button></a>
      
        {% else %}
        <a href="{% url 'login' %}"><button>
            Login</button></a> 
        {% endif %}


<a href="{% url 'task-create' %}">
    <div>
    </div>
    <b>
        Add New Task
    </b>
    <button>
    +
    </button></a>



<table>
    <tr>
        <th>Item</th>
        <th></th>
        <th></th>
    </tr>
    {% for task in tasks %}
    <tr>
        
        <td>
            {% if task.complete %}
            <div class="[text-decoration:line-through]">
            <a href="{% url 'task-update' task.id %}">
                
                <button>
                    {{ task.title }}
                </button>
            </a>
            {% else %}
            <a href="{% url 'task-update' task.id %}">
                <button>
                    {{ task.title }}
                </button>
                </a>
                {% endif %}

        </div></td>
        <td>
            <div>
            <a href="{% url 'task' task.id %}">
            <img 
            alt=""
            src="{% static 'base/public/frame.svg' %}">
            </a>
            </div>
            <div>
                <a href="{% url 'task-update' task.id %}">
                <img 
                alt=""
                src="{% static 'base/public/edit-2-svgrepo-com.svg' %}">
                </a>
                </div>
        </td>
        <td>
            
        </td>
        
    </tr>
    

    {% empty %}
        <h3>No items in list</h3>
    {% endfor %}
</table>

{% endblock content %}
